
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>Name: William Fransson</p>
<p> Age:20</p>
<p> Studied at : Katedralskolan i Samhäll beteende</p>
<p>2016- miljökonsult</p>
<p> från november 2017 - mars 2018 -> Truckförare i DHL</p>