
@{
    ViewBag.Title = "Projects";
}

<h2>Project</h2>


<p><a href="#">Calculator</a></p>
<p><a href="#">Golf Game in C#</a></p>
<p><a href="#">Arena Fighter</a></p>
<p><a href="#">Vending Machine</a></p>